# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '\.Rd'
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/lorenzwalthert/precommit
    rev: v0.3.2.9001
    hooks:
    - id: style-files
      args: [--style_pkg=styler, --style_fun=tidyverse_style]
    - id: lintr
      args: [--warn_only]
      verbose: true
    - id: readme-rmd-rendered
    - id: parsable-R
    - id: no-browser-statement

